<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="https://psv4.userapi.com/c235031/u214632314/docs/d44/b154fd2f71a1/photo-removebg-preview.png?extra=z-SED2pnPjPf4NdUHZKBjiXlMlGZSfKoxpmkwVz_0xOMUy78X8vd_EjqOKSyXbkSLE6N3nuEMg_65mJH_I2DnUIyYGjFjg9HYlAaQcONgGr0Q6jeGPl1yypSPzqDBBiitKITwc4R5OwEnKhczJXtd-ZK">
  <title>Transport monitoring</title>
  <style>
    .page-light {

      font-family: 'Montserrat', sans-serif;
      font-size: 16pt;
    }

    .wrapper {
      max-width: 100%;
      margin: 0 auto;
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav {
      display: flex;
      list-style-type: none;
      padding-left: 80%;
    }

    .logo {
      justify-content: center;
    }

    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }

    html {
      background-blend-mode: overlay;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(https://sun9-east.userapi.com/sun9-32/s/v1/ig2/aOGRrn8vToVzZqRqV2u5tveD2Kj-WHOFyTL9a-eAGSxL3-u-kaHss8b_S0KpJqMdU0TsmwDcWuSIaM6iqLNSY_gC.jpg?size=2560x1600&quality=95&type=album);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
    }

    body {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
    }

    a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
    }

    a:focus {
      outline: none !important;
    }

    a:hover {
      text-decoration: none;
      color: #cafaf2;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0px;
    }

    p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
    }

    ul,
    li {
      margin: 0px;
      list-style-type: none;
    }

    input {
      outline: none;
      border: none;
    }

    textarea {
      outline: none;
      border: none;
    }

    textarea:focus,
    input:focus {
      border-color: transparent !important;
    }

    input:focus::-webkit-input-placeholder {
      color: transparent;
    }

    input:focus:-moz-placeholder {
      color: transparent;
    }

    input:focus::-moz-placeholder {
      color: transparent;
    }

    input:focus:-ms-input-placeholder {
      color: transparent;
    }

    textarea:focus::-webkit-input-placeholder {
      color: transparent;
    }

    textarea:focus:-moz-placeholder {
      color: transparent;
    }

    textarea:focus::-moz-placeholder {
      color: transparent;
    }

    textarea:focus:-ms-input-placeholder {
      color: transparent;
    }

    input::-webkit-input-placeholder {
      color: #999999;
    }

    input:-moz-placeholder {
      color: #999999;
    }

    input::-moz-placeholder {
      color: #999999;
    }

    input:-ms-input-placeholder {
      color: #999999;
    }

    textarea::-webkit-input-placeholder {
      color: #999999;
    }

    textarea:-moz-placeholder {
      color: #999999;
    }

    textarea::-moz-placeholder {
      color: #999999;
    }

    textarea:-ms-input-placeholder {
      color: #999999;
    }

    button {
      outline: none !important;
      border: none;
      background: transparent;
    }

    button:hover {
      cursor: pointer;
    }

    iframe {
      border: none !important;
    }

    .txt1 {
      font-family: Poppins-Regular;
      font-size: 13.5px;
      line-height: 1.5;
      color: #999999;
      padding-left: 25%;
    }

    .txt2 {
      font-family: Poppins-Regular;
      font-size: 13px;
      line-height: 1.5;
      color: #666666;
      padding-left: 35%;
    }

    .limiter {
      width: 100%;
      margin: 0 auto;
    }

    .container-login100 {
      width: 100%;
      min-height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
    }

    .wrap-login100 {
      width: 960px;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;

      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 177px 130px 33px 95px;
    }

    .login100-pic {
      width: 316px;
      padding-bottom: 15%;
    }

    .login100-pic img {
      max-width: 100%;
    }

    .login100-form {
      width: 290px;
    }

    .login100-form-title {
      font-family: Poppins-Bold;
      font-size: 28px;
      color: #028BFF;
      line-height: 1.2;
      text-align: center;

      width: 100%;
      display: block;
      padding-bottom: 54px;
    }

    .wrap-input100 {
      position: relative;
      width: 100%;
      z-index: 1;
      margin-bottom: 10px;
    }

    .input100 {
      font-family: Poppins-Medium;
      font-size: 15px;
      line-height: 1.5;
      color: #666666;

      display: block;
      width: 100%;
      background: #e6e6e6;
      height: 50px;
      border-radius: 25px;
      padding: 0 30px 0 68px;
    }

    .focus-input100 {
      display: block;
      position: absolute;
      border-radius: 25px;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 0px 0px;
      color: #cafaf2;
    }

    .input100:focus+.focus-input100 {
      -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
      animation: anim-shadow 0.5s ease-in-out forwards;
    }

    @-webkit-keyframes anim-shadow {
      to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
      }
    }

    @keyframes anim-shadow {
      to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
      }
    }

    .symbol-input100 {
      font-size: 15px;

      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      position: absolute;
      border-radius: 25px;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: 35px;
      pointer-events: none;
      color: #666666;

      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }

    .input100:focus+.focus-input100+.symbol-input100 {
      color: #cafaf2;
      padding-left: 28px;
    }

    /*Кнопка*/
    .container-login100-form-btn {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
    }

    .login100-form-btn {
      font-family: Montserrat-Bold;
      font-size: 16px;
      line-height: 1.5;
      color: #028BFF;
      text-transform: uppercase;

      width: 100%;
      height: 50px;
      border-radius: 25px;
      background: #FEC20A;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;

      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }

    .login100-form-btn:hover {
      background: #333333;
    }

    @media (max-width: 992px) {
      .wrap-login100 {
        padding: 177px 90px 33px 85px;
      }

      .login100-pic {
        width: 35%;
      }

      .login100-form {
        width: 50%;
      }
    }

    @media (max-width: 768px) {
      .wrap-login100 {
        padding: 100px 80px 33px 80px;
      }

      .login100-pic {
        display: none;
      }

      .login100-form {
        width: 100%;
      }
    }

    @media (max-width: 576px) {
      .wrap-login100 {
        padding: 100px 15px 33px 15px;
      }
    }

    .validate-input {
      position: relative;
    }

    .alert-validate::before {
      content: attr(data-validate);
      position: absolute;
      max-width: 70%;
      background-color: white;
      border: 1px solid #c80000;
      border-radius: 13px;
      padding: 4px 25px 4px 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 8px;
      pointer-events: none;

      font-family: Poppins-Medium;
      color: #c80000;
      font-size: 13px;
      line-height: 1.4;
      text-align: left;

      visibility: hidden;
      opacity: 0;

      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }

    .alert-validate::after {
      content: "\f06a";
      font-family: FontAwesome;
      display: block;
      position: absolute;
      color: #c80000;
      font-size: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 13px;
    }

    .alert-validate:hover:before {
      visibility: visible;
      opacity: 1;
    }

    @media (max-width: 992px) {
      .alert-validate::before {
        visibility: visible;
        opacity: 1;
      }
    }
  </style>
</head>

<body>
  <div class="page page-light">
    <div class="wrapper">
      <header class="header">
        <div class="logo"><img
            src="https://psv4.userapi.com/c235031/u214632314/docs/d22/4ae2d8b54430/512x512bb-removebg-preview.png?extra=nEKaHLpbLSn_kGGZTeZ31i_nodaN-1ltA-N7M9orLGMWt4XCHe2wHLge_gXkPSJl7PmRxxs74lpGcEm1w9SEgB-WJ8TF08vb-IWYnaBolrf5v2F2SmqVJV8PrtOVyEAbmxFuGz7b66c1qrhHaPMCoxzD"
            width="160" height="160" alt="Logo"></div>

      </header>
      <hr>
    </div>
  </div>

  <div class="page-dark">
    <div class="wrapper">
      <footer class="footer">
        <div class="footer-nav">


          <div class="login100-form validate-form">
            <span class="login100-form-title">
              <br><br><br>
              Администрирование
            </span>
            <form method="POST">
              <div class="wrap-input100 validate-input">
                <input class="input100" type="text" name="login">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
              </div>

              <div class="wrap-input100 validate-input">
                <input class="input100" type="password" name="pass">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
              </div>

              <div class="container-login100-form-btn">
                <button type="submit" class="login100-form-btn">
                  Вход
                </button>
              </div>
            </form>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>